.first-chapter{
    background-color: #2e2f42;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff
}
.order-button{
    background-color: #4D5AE5;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.order-button:hover{
    background-color: #404BBF;
    cursor: pointer
}
.second-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
p{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.third-chapter{
    background-color: #F4F4FD
}
.third-header{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.work-image{
    background-color: #FFFFFF
}